@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lexend+Deca:wght@300;400&display=swap');


:root {
  --verydarkblue: hsl(233, 47%, 7%);
  --darkdesaturatedblue: hsl(244, 38%, 16%);
  --softviolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --maintransparentwhite: hsla(0, 0%, 100%, 0.75);
  --headingtransparentwhite: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: var(--verydarkblue); 
}

content {

}

.container {
display: flex; 
background-color: var(--darkdesaturatedblue);
justify-content: center;
margin: 150px auto;
border-radius: 5px;
width: 1000px;



}

.image {
  height: 420px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  mix-blend-mode: color-dodge;
}

.analytics,
.content-section p {
  color: var(--white);
  
}

.analytics {
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
}

.analytics h3 {
  margin: 50px 20px 0 0;
  padding: 5px;
}

.content-section {
  padding: 35px;
  margin-top: 50px;
}

.content-section p {
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 30px;
  line-height: 1.7;
  font-weight: 300;
}

.insights {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: var(--white);
  width: 90%;
  
}

span {
  color: var(--softviolet);
}

.numbers {
  text-transform: uppercase;
  color: var(--white);
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 200;
}

