@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --verydarkblue: hsl(233, 47%, 7%);
  --darkdesaturatedblue: hsl(244, 38%, 16%);
  --softviolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --maintransparentwhite: hsla(0, 0%, 100%, 0.75);
  --headingtransparentwhite: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: var(--verydarkblue); 
}

content {

}

.container {
display: flex; 
background-color: var(--darkdesaturatedblue);
justify-content: center;
margin: 100px auto;
border-radius: 10px;
width: 70%;
padding: 15px;


}

.image {
  height: 350px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: contain;
  align-self: flex-end;
  
 
}

.analytics {
  display: flex;
}

.analytics h3 {

}

.content-section {
  padding: 15px;
  margin-top: 50px;
}

.insights {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  width: 90%;
}